[Unit]
Description=Huey daemon 
After=network.target 

[Service]
User=www-data
Group=www-data
WorkingDirectory=/test
ExecStart=/usr/bin/python3 backend/tasks/huey_consumer.py main.huey
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target