<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var socket = io.connect();

            $(document).on("click", "#send_action", function () {
                socket.emit('test event', function (connectMsg) {
                    // sending a connect request to the server-view 'test event'.
                    console.log('Подключение установлено')

                });
                socket.on('after connect', data => {
                    // wait a connect request from server-view 'after connect'.
                    $('#log').append('<br>' + $('<div/>').text('What is the intention of the code: ' + data.data).html());
                })
            });
        });
    </script>
</head>

<body>
    <h2>По нажатию этой кнопки на сервере перед очередью периодических задач встанет пользовательская</h2>
    <button id="send_action">Отправить задачу пользователя</button>

    <h2>И возвращает сообщение спустя 15-25 секунд</h2>
    <h3>Message Received:</h3>
    <div id="log"></div>
</body>

</html>