<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        console.log(window.location.host.slice(1))
        const socket = new WebSocket('ws://' + window.location.host + '/test_route');
        socket.onopen = function (event) {
            console.log('WebSocket is connected.');
            $(document).on("click", "#send_action", function () {
                socket.send('Задача 1');
            });
            socket.onmessage = function (event) {
                $('#log').append('<br>' + $('<div/>').text(event.data).html());
            };
        };
    </script>
</head>

<body>
    <h2>По нажатию этой кнопки на сервере перед очередью периодических задач встанет пользовательская</h2>
    <button id="send_action">Отправить задачу пользователя</button>

    <h2>И возвращает сообщение спустя 15-25 секунд</h2>
    <h3>Message Received:</h3>
    <div id="log"></div>
</body>

</html>